@model IEnumerable<AlgoOpp.Models.RECRUITMENT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Company.cshtml";
}
@Styles.Render("~/Content/Table")

<h2>Recrutiment</h2>
<br />
<a class="btn btn-primary text-lg-center" href=" @Url.Action("Create", "Recruitment")">
    Create New Recruitment
</a>
<br />
<br />
<div class="container-fluid">
    <table class="table container-fluid table-hover">
        <tr>
            <th id="th10">
                @Html.DisplayNameFor(model => model.POSITION)
            </th>
            <th id="th1">
                @Html.DisplayNameFor(model => model.JOB_LOCATION)
            </th>
            <th id="th1">
                @Html.DisplayNameFor(model => model.SKILLS_REQ)
            </th>
            <th id="th1">
                @Html.DisplayNameFor(model => model.JOB_DESC)
            </th>
            <th id="th1">
                @Html.DisplayNameFor(model => model.REQ_CGPA)
            </th>
            <th id="th1">
                @Html.DisplayNameFor(model => model.CREATED_DATE)
            </th>
            <th class="visually-hidden">
                @Html.DisplayNameFor(model => model.CREATED_BY)
            </th>
            <th class="visually-hidden">
                @Html.DisplayNameFor(model => model.MODIFIED_DATE)
            </th>
            <th class="visually-hidden">
                @Html.DisplayNameFor(model => model.MODIFIED_BY)
            </th>
            <th class="visually-hidden">
                @Html.DisplayNameFor(model => model.EST_ID)
            </th>
            <th id="th1"></th>
            <th id="th1"></th>
            <th id="th1"></th>
            <th id="th11"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td id="td">
                    @Html.DisplayFor(modelItem => item.POSITION)
                </td>
                <td id="td">
                    @Html.DisplayFor(modelItem => item.JOB_LOCATION)
                </td>
                <td id="td">
                    @Html.DisplayFor(modelItem => item.SKILLS_REQ)
                </td>
                <td id="td">
                    @Html.DisplayFor(modelItem => item.JOB_DESC)
                </td>
                <td id="td">
                    @Html.DisplayFor(modelItem => item.REQ_CGPA)
                </td>
                <td id="td">
                    @Html.DisplayFor(modelItem => item.CREATED_DATE)
                </td>
                <td id="td" class="visually-hidden">
                    @Html.DisplayFor(modelItem => item.CREATED_BY)
                </td>
                <td id="td" class="visually-hidden">
                    @Html.DisplayFor(modelItem => item.MODIFIED_DATE)
                </td>
                <td id="td" class="visually-hidden">
                    @Html.DisplayFor(modelItem => item.MODIFIED_BY)
                </td>
                <td id="td" class="visually-hidden">
                    @Html.DisplayFor(modelItem => item.EST_ID)
                </td>
                <td id="td">
                   
                    <a class="btn btn-primary" href="@Url.Action("Edit", "Recruitment", new { id = item.RECRUIT_ID })">Edit</a>
                </td>
                <td id="td">
                    <a class="btn btn-secondary" href="@Url.Action("Details", "Recruitment", new { id = item.RECRUIT_ID })">Details</a>
                </td>
                <td id="td">

                    <a class="btn btn-danger" href="@Url.Action("Delete", "Recruitment", new { id = item.RECRUIT_ID })">Delete</a>

                </td>

                <td id="td">
                    <a class="btn btn-success" href="
               @Url.Action("Send", "Recruitment", new { id = item.RECRUIT_ID })">
                        Send
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
<style>
    /* #th1 {
        background-color: #6c7ae0;
        color: white;
        text-align: center;
        justify-content: center;
    }
    #th10 {
        background-color: #6c7ae0;
        color: white;
        border-top-left-radius: 15px;
        text-align: center;
        justify-content: center;
    }
    #th11 {
        background-color: #6c7ae0;
        color: white;
        border-top-right-radius: 15px;
        text-align: center;
        justify-content: center;
    }*/

</style>