@model IEnumerable<AlgoOpp.Models.RECRUIT_APP_STATUS_CL>

@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/Layout_College.cshtml";
}
@Styles.Render("~/Content/Table")
<h2>Current Openings</h2>

<hr />

<table class="table">
    <tr>
        <th class="visually-hidden">
            @Html.DisplayNameFor(model => model.EST_ID)
        </th>
        <th id="th10">
            @Html.DisplayNameFor(model => model.EST_NAME)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.POSITION)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.JOB_LOCATION)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.JOB_DESC)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.SKILLS_REQ)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.REQ_CGPA)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.APPLIED_DATE)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.APP_STATUS)
        </th>
        <th class="visually-hidden">
            @Html.DisplayNameFor(model => model.RECRUIT_ID)
        </th>
        <th id="th11">

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="td">
            <td class="visually-hidden">
                @Html.DisplayFor(modelItem => item.EST_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EST_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POSITION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JOB_LOCATION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JOB_DESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SKILLS_REQ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REQ_CGPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATED_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APPLIED_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APP_STATUS)

            </td>
            <td class="visually-hidden">
                @Html.DisplayFor(modelItem => item.RECRUIT_ID)
            </td>

            <td>
                @*<a href="~/CollegeRegister/Apply">Edit</a>*@
                <a class="btn btn-success" href="@Url.Action("Apply", "CollegeRegister", new { id = item.NOTIFY_ID })">
                    Apply
                </a>
               
                @*@Html.ActionLink("Reject", "Reject")*@
                @*@Html.ActionLink("Edit", "Edit", new { id=item.NOTIFY_ID }) |
        @Html.ActionLink("Details", "Details", new { id=item.NOTIFY_ID }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.NOTIFY_ID })*@
            </td>
        </tr>
    }

</table>
