@model IEnumerable<AlgoOpp.Models.INTERVIEW_STATUS_CL>

@{
    ViewBag.Title = "StudentStatus";
    Layout = "~/Views/Shared/Layout_College.cshtml";
}
@Styles.Render("~/Content/Table")
<h2>Interview Status</h2>
</br>
<table class="table overflow-scroll">
    <tr>
        <th id="th10">
            @Html.DisplayNameFor(model => model.RECRUIT_ID_CY)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.STUD_ID)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.STUD_NAME)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.EMAIL_ID)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.MOBILE)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.DEPARTMENT)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.YEAR)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.CGPA)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.APTITUDE_ROUND)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.TECHNICAL_ROUND)
        </th>
        <th id="th11">
            @Html.DisplayNameFor(model => model.HR_ROUND)
        </th>
       
    </tr>

    @foreach (var item in Model)
    {
        <tr id="td">
            <td>
                @Html.DisplayFor(modelItem => item.RECRUIT_ID_CY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STUD_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STUD_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOBILE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEPARTMENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YEAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CGPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APTITUDE_ROUND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TECHNICAL_ROUND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HR_ROUND)
            </td>

        </tr>
    }

</table>
<style>
        .scrollable-lines
        {
        height: 100px;
       /* : scroll;*/
    }
   
</style>
