<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:darkslategray; font-family: 'Bookman Old Style';">
        <div class="container-fluid">
            <img class=".navbar-brand" src="~/Content/Image/Logo2.png" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mb-2 mb-lg-0 mx-2" style="color:black; float:left;">
                    <li class="nav-item nav-link active"><a id="a" style="text-decoration:none;" href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="nav-item "><a id="a" class="nav-link" href="@Url.Action("About", "Home")">About Us</a></li>
                    <li class="nav-item "><a id="a" class="nav-link" href="@Url.Action("Contact", "Home")">Contact Us</a></li>

                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="color:black; float:right;">
                    <li class="nav-item "><a id="a" class="nav-link" href="@Url.Action("College", "Home")">College</a></li>
                    <li class="nav-item "><a id="a" class="nav-link" href="@Url.Action("Company", "Home")">Company</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
       

    </div>
    <style>
        img {
            width: 200px;
            height: 50px;
        }
        #a {
            color: aliceblue;
            padding-left: 20px;
            padding-right: 20px;
           /* padding-top: 25px;
            padding-bottom: 25px;*/
        }

        .nav-link:hover,
        .nav-link:focus
        {
           /* background-color:darkslategrey;*/
            padding-left: 2px;
            padding-right: 2px;
           /* margin-bottom: 5px;*/
            /*position: fixed;
            color: black;
            border-top: 20px;*/
           /* border: none;
            outline: none;*/
            cursor: pointer;
        }
        /*.btn-link::active {
            background-color: aliceblue;
        }
        .btn-link:hover {
            background-color: aliceblue;
        }
        .btn-link:focus {
            background-color: aliceblue;
        }*/
       /* a.a {
            background-color:cadetblue;
            color: white;
        }*/
       /* #navbarSupportedContent > ul > li.active > a {
            color: #5161ce;
            background-color: transparent;
            transition: all 0.7s;
        }*/
        /*#navbarSupportedContent {
            overflow: hidden;
            position: relative;
        }*/
        /**, ::after, ::before {
            box-sizing: border-box;
        }*/
        /*body {
            font-family: 'Roboto', sans-serif;
        }*/
        /**, ::after, ::before {
            box-sizing: border-box;
        }*/
        /*nav li{
            margin-right:5px;
        }
        .navbar-mainbg {
            background-color: #5161ce;
            padding: 0px;
        }*/
        header,body,footer{
            background-color:lightcyan;
           
        }
    </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
