
@{

    var session = (AlgoOpp.Models.Membership)Session["model"];
    if (session==null)
    {
        Response.Redirect("~/CollegeRegister/Login");
    }
    if (string.Compare(session?.Est_Type , "Company",true)==0)
    {
        Response.Redirect("~/CompanyRegister/Login"); 
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:darkslategray; font-family: 'Bookman Old Style';">

        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img class=".navbar-brand" src="~/Content/Logo.png" width="50px" height="50px" />

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="color:black; float:right;">
                    <li>@Html.ActionLink("Dashboard", "Index", "CollegeRegister")</li>
                    <li>@Html.ActionLink("Student Details", "Index", "StudentDetails")</li>
                    <li>@Html.ActionLink("Companies", "Companies", "CollegeRegister")</li>
                    <li>@Html.ActionLink("Student Status", "StudentStatus", "CollegeRegister")</li>
                    <li><a href="@Url.Action("Logout","CollegeRegister")">LogOut</a></li>

                </ul>
            </div>
        </div>
    </div>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

