@{

    var session = (AlgoOpp.Models.Membership)Session["model"];
    if (session == null)
    {
        Response.Redirect("~/CompanyRegister/Login");
    }

    if (string.Compare(session?.Est_Type, "College", true) == 0)
    {
        Response.Redirect("~/CollegeRegister/Login");
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:darkslategray; font-family: 'Bookman Old Style';">
        <div class="container-fluid">
            <img class=".navbar-brand" src="~/Content/Logo2.png" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="color:blueviolet; float:right;">
                    <li class="nav-item nav-link">@Html.ActionLink("Dashboard", "DashBoard", "CompanyRegister")</li>
                    <li class="nav-item nav-link">@Html.ActionLink("Recruitment", "Index", "Recruitment")</li>
                    <li class="nav-item nav-link">@Html.ActionLink("Notification", "Notification", "CompanyRegister")</li>
                    <li class="nav-item nav-link">@Html.ActionLink("Check Status", "Index", "INTERVIEW_STATUS_CY")</li>

                    @*<li>@Html.ActionLink("LogOut", "LogOut", "Home")</li>*@
                    <li><a href="@Url.Action("Logout","CompanyRegister")">LogOut</a></li>

                </ul>
            </div>
        </div>
    </div>
    <style>
        img {
            width: 200px;
            height: 50px;
        }
    </style>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>