@model IEnumerable<AlgoOpp.Models.STUDENT_DETAILS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_College.cshtml";
}
@Styles.Render("~/Content/Table")
<h2>Student Details</h2>
<br />
<a class="btn btn-primary" href="
    @Url.Action("Create", "StudentDetails")">Create New Record
</a>
<br />
<br />
<table class="table">
    <tr>
        <th id="th10">
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.EMAIL_ID)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.MOBILE)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.DEPARTMENT)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.YEAR)
        </th>
        <th id="th1">
            @Html.DisplayNameFor(model => model.CGPA)
        </th>
        <th class="visually-hidden">
            @Html.DisplayNameFor(model => model.EST_NAME)
        </th>
        <th class="visually-hidden">
            @Html.DisplayNameFor(model => model.EST_ID)
        </th>
        <th id="th1"></th>
        <th id="th1"></th>
        <th id="th11"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="td">
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOBILE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEPARTMENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YEAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CGPA)
            </td>
            <td class="visually-hidden">
                @Html.DisplayFor(modelItem => item.EST_NAME)
            </td>
            <td class="visually-hidden">
                @Html.DisplayFor(modelItem => item.EST_ID)
            </td>

            @*<td>
                <button class="btn btn-default">
                    @Html.ActionLink("Edit", "Edit", new { id = item.STUD_ID })
                </button>
                <button class="btn btn-default">
                    @Html.ActionLink("Details", "Details", new { id = item.STUD_ID })
                </button>
                <button class="btn btn-default">
                    @Html.ActionLink("Delete", "Delete", new { id = item.STUD_ID })
                </button>
            </td>*@
            <td id="td">

                <a class="btn btn-primary" href="@Url.Action("Edit", "StudentDetails", new { id = item.STUD_ID })">Edit</a>
            </td>
            <td id="td">
                <a class="btn btn-secondary" href="@Url.Action("Details", "StudentDetails", new { id = item.STUD_ID })">Details</a>
            </td>
            <td id="td">

                <a class="btn btn-danger" href="@Url.Action("Delete", "StudentDetails", new { id = item.STUD_ID })">Delete</a>

            </td>
        </tr>

    }

</table>

<style>


    a:link {
        text-decoration: none;
        color: black;
    }

    button {
        margin-right: 2px;
        margin-left: 2px;
    }
</style>




